html {
  font-size: 0.6vw;
  .container {
    max-width: 122.5rem;
  }
  @media(max-width: @mobile-breakpoint){
    font-size: 1.875vw;
  }

  body {
    font-family: Montserrat-Regular;
    .header-crios {
      padding-top: 4.75rem;
      @media (max-width: @mobile-breakpoint) {
        position: relative;
      }

      .header-content {

        .img-logo {
          width: 100%;
          max-width: 15rem;
          height: auto;
          @media (max-width: @mobile-breakpoint) {
            margin-left: 4.2rem;
          }
        }
        .navbar-toggler.collapsed {
          border: none;
          outline: none;
          @media (max-width: @mobile-breakpoint) {
            margin-right: 4.2rem;
          }
        }
        .navbar-toggler {
          border: none;
          outline: none;
          @media (max-width: @mobile-breakpoint) {
            margin-right: 4.2rem;
          }
        }
        .navbar-toggler.collapsed::before {
          content: '';
          background: url("../images/menu-burger.png") center no-repeat;
        }
        .navbar-toggler::before {
          content: '';
          background: url("../images/cancel.png") center no-repeat;
          width: 2.9rem;
          height: 2.9rem;
          display: block;
        }
        .navbar-crios {

          @media (max-width: @mobile-breakpoint) {
            position: absolute;
            top: 10.5rem;
            z-index: 1;
            background-color: #fff;
            width: inherit;
            margin-left: -1rem;
            padding-left: 4.2rem;
            padding-right: 4.2rem;
          }

          .header-item {
            text-transform: uppercase;
            font-weight: 700;
            font-size: unit(18/12, rem);
            padding: 0.83rem 2.2rem;
          }
          .header-item-bottom {

            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 2.5rem;
            }
          }
        }
      }
    }

    .section {
      // Css for all 'section' class

      .img {
        max-width: 100%;
      }
      .section-title {
        font-weight: 700;
        font-size: 4rem;
        padding-bottom: 1.5rem;
        @media (max-width: @mobile-breakpoint) {
          font-size: unit(28/12, rem);
          font-weight: 500;
        }
      }
      .section-small-title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      .section-description {
        color: @color-gray-text;
        font-size: 1.5rem;
        font-weight: 400;
        @media (max-width: @mobile-breakpoint) {
          font-size: unit(18/12, rem);
          font-weight: 400;
        }
      }
      .section-small-description {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      .button-section {
        width: 19.1rem;
        font-size: 1.16rem;
        color: @color-blue-text;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 3.3rem;
        padding: 1.585rem 3.4rem;
        box-shadow: 0 0 3rem 0 rgba(218, 229, 239, 0.35);
        @media (max-width: @mobile-breakpoint) {
          font-size: unit(14/12, rem);
          font-weight: 700;
          border-radius: 3rem;
        }
      }

      &.section-intro {
        // Css for 'section-intro'
        position: relative;
        padding-top: 26.33rem;
        @media (max-width: @mobile-breakpoint) {
          padding-top: 0;
        }

        .img-bg-intro {
          display: block;
          @media (max-width: @mobile-breakpoint) {
            display: none;
          }
        }
        .img-bg-small-intro {
          display: none;
          @media (max-width: @mobile-breakpoint) {
            display: block;
          }
        }
        .section-intro-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          .section-content-wrapper {

            .section-intro-item {

              .intro-block-text {

                .intro-title {
                  padding-top: 19.7rem;
                  padding-bottom: 0.8rem;
                  @media (max-width: @mobile-breakpoint) {
                    padding-top: 9rem;
                  }
                }
                .intro-description {
                  padding-bottom: 6.5rem;
                  @media (max-width: @mobile-breakpoint) {
                    padding-bottom: 5rem;
                  }
                }
              }
            }
          }
        }
      }

      &.section-about-us {
        // Css for section-about-us
        text-align: center;
        padding-top: 8rem;
        @media (max-width: @mobile-breakpoint) {
          margin-top: -35rem;
          padding-top: unit(46/12, rem);
        }

        .section-about-us-content {
          position: relative;

          .about-us-title {
            padding-bottom: 8rem;
            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 0.5rem;
            }
          }
          .about-us-description {
            padding-bottom: 0.6rem;
            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 2rem;
            }
          }
          .about-us-row-item {
            padding-bottom: 7.8rem;
            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 0;
            }

            .about-us-item {
              padding: 0 4rem;
              @media (max-width: @mobile-breakpoint) {
                padding: 7.5rem 0 0;
              }

              .about-us-icon {
                width: 100%;
                max-width: 5rem;
                height: auto;
                @media (max-width: @mobile-breakpoint) {
                  max-width: 3.5rem;
                }
              }
              .about-us-item-title {
                font-size: 1.5rem;
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
                @media (max-width: @mobile-breakpoint) {
                  padding-bottom: 1.3rem;
                }
              }
              .about-us-item-description {
                font-size: 1.2rem;
                padding: 0 1.5rem;
                line-height: 2;
                @media (max-width: @mobile-breakpoint) {
                  font-size: unit(14/12, rem);
                  padding: 0 17rem;
                }
              }
            }
          }
          .about-us-button {
            padding-bottom: 11rem;
            @media (max-width: @mobile-breakpoint) {
              padding-top: 5.5rem;
              padding-bottom: 6rem;
            }
          }
        }
      }

      &.section-news {
        background-color: @color-gray-background;
        text-align: left;

        .section-news-content {
          padding: 0;

          .section-news-item {
            position: relative;
            display: block;
            width: 100%;

            .news-item-img {
              width: 50%;
              @media (max-width: @mobile-breakpoint) {
                display: block;
                width: 100%;
              }
            }
            .news-item-content {
              position: absolute;
              width: 50%;
              height: 100%;
              padding: 0 10rem;
              top: 0;
              left: 50%;
              @media (max-width: @mobile-breakpoint) {
                display: block;
                position: relative;
                width: 100%;
                left: 0;
                padding: 3.5rem 5.3rem;
              }

              .news-item-wrapper {
                display: table;
                width: 100%;
                height: 100%;
                @media (max-width: @mobile-breakpoint) {
                  display: block;
                }

                .news-item-detail {
                  display: table-cell;
                  vertical-align: middle;
                  @media (max-width: @mobile-breakpoint) {
                    display: block;
                  }

                  .news-title {

                    @media (max-width: @mobile-breakpoint) {
                      font-size: unit(16/12)rem;
                      font-weight: 400;
                      padding-bottom: 1rem;
                    }
                  }
                  .news-description {

                    @media (max-width: @mobile-breakpoint) {
                      font-size: unit(14/12)rem;
                    }
                  }
                }
              }
            }
            .news-item-content-bottom {
              padding: 0 15rem 0 22rem;
              @media (max-width: @mobile-breakpoint) {
                padding: 3.5rem 5.3rem;
              }
            }
            &:nth-child(even) {
              .news-item-img {
                margin-left: 50%;
                @media (max-width: @mobile-breakpoint) {
                  margin-left: 0;
                }
              }
              .news-item-content {
                left: 0;
              }
            }
          }
        }
      }

      &.section-blog {
        padding-top: 0;
        position: relative;

        &:before, &:after {
          content: "";
          position: absolute;
          width: 70rem;
          height: 70rem;
          z-index: -1;
          @media (max-width: @mobile-breakpoint) {
            width: 100%;
          }
        }
        &:before {
          background: url("../../assets/images/snowflakes.png") no-repeat;
          top: 0;
          left: 0;
          background-position-x: 4.3rem;
          background-position-y: -7.5rem;
          overflow: hidden;
          @media (max-width: @mobile-breakpoint) {
            background-size: 45%;
            background-position-x: 2.3rem;
            background-position-y: 11rem;
          }
        }
        &:after {
          background: url("../../assets/images/snowflakes-2.png") no-repeat;
          right: 0;
          bottom: 0;
          background-position-x: 15rem;
          background-position-y: 19.5rem;
          overflow: hidden;
          @media (max-width: @mobile-breakpoint) {
            background-size: 45%;
            background-position-x: 30.5rem;
            background-position-y: 18rem;
          }
        }
        .section-blog-content {

          .section-blog-item {
            position: relative;
            display: block;
            width: 100%;
            padding: 13rem 1.5rem;
            @media (max-width: @mobile-breakpoint) {
              padding: 5.3rem 0 4.5rem 0;
            }

            .blog-item-img {
              text-align: center;
              width: 50%;
              @media (max-width: @mobile-breakpoint) {
                display: block;
                width: 100%;
              }

              .img-blog {
                width: 70%;
              }
            }
            .blog-item-content {
              position: absolute;
              width: 50%;
              height: 100%;
              padding: 0;
              top: 0;
              left: 50%;
              @media (max-width: @mobile-breakpoint) {
                display: block;
                position: relative;
                width: 100%;
                left: 0;
              }

              .blog-item-wrapper {
                display: table;
                width: 100%;
                height: 100%;

                .blog-item-detail {
                  display: table-cell;
                  vertical-align: middle;
                  padding-left: 1.25rem;
                  @media (max-width: @mobile-breakpoint) {
                    padding-left: 0;
                  }

                  .blog-title {
                    color: @color-blue-text;
                    @media (max-width: @mobile-breakpoint) {
                      font-size: unit(16/12)rem;
                      font-weight: 400;
                      text-align: center;
                      padding-bottom: 1.5rem;
                    }
                  }
                  .blog-description {
                    @media (max-width: @mobile-breakpoint) {
                      font-size: unit(14/12)rem;
                      text-align: center;
                    }
                  }
                }
                .blog-item-detail-bottom {
                  padding-left: 14rem;
                  padding-bottom: 15rem;
                  @media (max-width: @mobile-breakpoint) {
                    padding-left: 0;
                    padding-bottom: 0;
                  }
                }
              }
            }
            &:nth-child(even) {
              .blog-item-img {
                margin-left: 50%;
                @media (max-width: @mobile-breakpoint) {
                  margin-left: 0;
                }
              }
              .blog-item-content {
                left: 0;
              }
            }
          }
          .section-blog-item-bottom {
            padding-top: 0;
          }
        }
      }

      &.section-testimonials {
        background: url("../../assets/images/bg-snowflakes.jpg") no-repeat;
        width: 100%;
        z-index: 1;
        @media (max-width: @mobile-breakpoint) {
          margin-top: 4.6rem;
        }

        .section-test-content {
          display: table;
          width: 100%;
          padding: 0 7rem;
          table-layout: fixed;
          @media (max-width: @mobile-breakpoint) {
            display: block;
            padding: 0;
          }

          .test-item-img {
            display: table-cell;
            text-align: center;
            top: 0;
            left: 0;
            opacity: 0.3;
            @media (max-width: @mobile-breakpoint) {
              display: block;
              opacity: 1;
            }
          }
          .test-item-content {
            display: table-cell;
            vertical-align: middle;
            padding-top: 6.5rem;
            @media (max-width: @mobile-breakpoint) {
              display: block;
              padding: 3.5rem 5.4rem;
            }

            .test-title {
              color: @color-red-text;
              @media (max-width: @mobile-breakpoint) {
                font-weight: 400;
                padding-bottom: 1rem;
              }
            }
            .test-description {
              padding-bottom: 5.5rem;
              @media (max-width: @mobile-breakpoint) {
                padding-bottom: 0;
              }
            }
            .test-signature {

              .name-test-signature {
                color: #000;
                font-weight: bold;
                @media (max-width: @mobile-breakpoint) {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }

      &.section-testimonials-client {
        background-color: @color-blue-background;
        color: #fff;

        .section-client-content {
          padding: 9.5rem 20rem 12rem 14rem;
          @media (max-width: @mobile-breakpoint) {
            padding: 3.5rem 2.25rem 10rem 5.4rem;
          }

          .section-client-item-title {
            padding-bottom: 4.5rem;
            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 4rem;
            }

            .client-pre-description {
              color: #a6ecff;
              @media (max-width: @mobile-breakpoint) {
                font-size: 1.2rem;
              }
            }
            .client-pre-title {
              color: #fff;
            }
          }
          .section-client-slider {
            display: table;
            width: 100%;
            .section-client-slider-content::before {
              content: url("../images/icon_quote.png");
              float: left;
              display: table-cell;
              vertical-align: top;
              @media(max-width: @mobile-breakpoint){
                display: none;
              }
              @media(max-width: @desktop-breakpoint){
                transform: scale(0.5,0.5);
                margin-top: -3rem;
              }
            }
            .section-client-slider-content::after{
              content: url("../images/icon_quote-close.png");
              display: table-cell;
              vertical-align: bottom;
              @media(max-width: @mobile-breakpoint){
                display: none;
              }
              @media(max-width: @desktop-breakpoint){
                transform: scale(0.5,0.5);
              }
            }
            .section-client-slider-content {

              .section-client-slider-item {
                display: table-cell;
                padding-right: 10rem;
                padding-left: 2.25rem;
                @media(max-width: @mobile-breakpoint) {
                  padding-right: 0;
                  padding-left: 0;
                }
                @media(max-width: @desktop-breakpoint) {
                  padding-left: 1rem;
                  padding-right: 3rem;
                }
                .carousel-crios {
                  bottom: -6.5rem;
                  @media(max-width: @desktop-breakpoint) {
                    bottom: -6rem;
                  }

                  li {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 1.25rem;
                    border: 0.2rem solid #fff;
                    background-color: #3399ff;
                  }
                  li.active {
                    border: 0.25rem solid #16d428;
                  }
                }
                .section-client-slider-item-title {
                  display: table;
                  width: 100%;
                  .img-item {
                    border-radius: 5.7rem;
                    display: table-cell;
                  }
                  .info-client {
                    display: table-cell;
                    width: 90%;
                    vertical-align: middle;
                    padding-left: 1.5rem;
                    @media(max-width: @mobile-breakpoint) {
                      width: 90%;
                    }
                    .name-client {
                      text-transform: uppercase;
                      font-size: 1.3rem;
                      font-weight: bold;
                      color: #fff;
                      @media(max-width: @mobile-breakpoint) {
                        font-size: 1.16rem;
                      }
                    }
                    .about-client {
                      font-family: 'Domine', serif;
                      font-size: 1.4rem;
                      color: #ddf8ff;
                      @media(max-width: @mobile-breakpoint) {
                        font-size: 1.25rem;
                      }
                    }
                  }
                }
                .section-client-slider-item-content {
                  font-family: 'Domine', serif;
                  font-size: 1.3rem;
                  color: #ddf8ff;
                  padding-top: 2rem;
                  @media(max-width: @mobile-breakpoint) {
                    font-size: 1.25rem;
                  }
                }
              }
            }
          }
        }
      }

      &.section-contact {
        padding-top: 10rem;
        padding-bottom: 18rem;
        background: url("../../assets/images/bg-footer.png") bottom no-repeat;
        background-size: contain;
        @media (max-width: @mobile-breakpoint) {
          background: url("../../assets/images/bg-footer-mobi.png") bottom no-repeat;
          padding-top: 7rem;
          padding-bottom: 0;
        }

        .section-contact-content {
          text-align: left;
          padding: 0 14rem 2rem;
          @media (max-width: @mobile-breakpoint) {
            padding: 0 5.4rem;
          }

          .section-contact-item-title {
            text-transform: uppercase;
            @media (max-width: @mobile-breakpoint) {
              padding-bottom: 0;
            }

            .contact-item-description{
              color: #898e8f;
            }
            .contact-item-title{
              color: #343a3b;
              font-weight: bold;
            }
          }
          .section-contact-item-form {

            .form-control{
              padding-bottom: 0.7rem;
              text-transform: uppercase;
              font-size: 1rem;
              font-weight: 700;
              color: #343a3b;
              margin-top: 3.5rem;
              border-style: solid;
              border-width: 0 0 0.1rem 0;
              border-bottom-color: #cddbde;
            }
            #service {
              height: inherit;
              padding-left: 0.4rem;
            }
            .form-comment {
              padding-bottom: 10rem;
              @media (max-width: @mobile-breakpoint) {
                padding-bottom: 4rem;
              }
            }
          }
          .section-contact-form-button {
            text-align: center;
            margin-top: 3.2rem;
            @media (max-width: @mobile-breakpoint) {
              margin-top: 3.5rem;
            }

            .btn-contact-form {
              width: 14.6rem;
              text-transform: uppercase;
              font-size: 1.1rem;
              color: #fff;
              font-weight: bold;
              background-color: #16d428;
              padding: 1.5rem 2.67rem;
              border-radius: 6.25rem;
              @media (max-width: @mobile-breakpoint) {
                font-weight: 400;
              }
            }
          }
          .section-contact-info {
            text-align: center;
            padding-top: 16.5rem;
            @media (max-width: @mobile-breakpoint) {
              padding-top: 10.8rem;
            }

            .contact-title {
              color: #fff;
              text-transform: uppercase;
              font-weight: 700;
              @media (max-width: @mobile-breakpoint) {
                color: #000;
              }
            }
            .contact-description {
              color: #fff;
              padding: 2rem 25.5rem 3.5rem;
              @media (max-width: @mobile-breakpoint) {
                color: #000;
                font-size: 1.45rem;
                font-weight: 500;
                padding: 1rem 0 8rem;
              }
            }
            .contact-info-map {
              @media (max-width: @mobile-breakpoint) {
                padding: 0 5rem;
              }

              .contact-info-map-item {
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;
                @media (max-width: @mobile-breakpoint) {
                  padding-bottom: 3.8rem;
                }

                .img-contact-map {
                  width: 100%;
                }
                .map-item-icon {
                  position: absolute;
                  top: 16%;
                  left: 44%;
                }
                .text-contact-map-info {
                  background-color: #fff;
                  padding: 3.5rem 8rem 3.5rem 3rem;
                  box-shadow: 0 0 2rem 0 @color-gray-text;
                  @media (max-width: @mobile-breakpoint) {
                    padding: 2.5rem 11rem 3.3rem 3rem;
                  }

                  .map-info-title {
                    color: @color-blue-text;
                    font-weight: bold;
                  }
                  .map-content {
                    display: table;
                    padding-top: 0.8rem;

                    .item-icon {
                      display: table-cell;
                      margin-right: 2rem;
                    }
                    .map-info-description {
                      font-weight: bold;
                      display: table-cell;
                      padding-top: 0.8rem;
                      text-transform: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer-crios {
      background-color: #262829;
      color: rgb(131, 139, 140);
      padding: 6.5rem 36rem 4.5rem;
      font-size: 1.2rem;
      @media (max-width: @mobile-breakpoint) {
        padding: 7.5rem 5.4rem 3.5rem;
      }

      .footer-item {
        padding-bottom: 6.5rem;
        @media (max-width: @mobile-breakpoint) {
          padding-bottom: 3rem;
        }

        .footer-item-left {
          padding-right: 10rem;
          @media (max-width: @mobile-breakpoint) {
            padding: 0 0 7rem 0;
          }

          .link-area {

            .footer-title {
              color: #fff;
              font-size: 1.5rem;
              padding-bottom: 2.2rem;
              text-transform: uppercase;
              font-weight: bold;
              @media (max-width: @mobile-breakpoint) {
                padding-bottom: 1.5rem;
              }
            }
            .footer-description {
              font-family: 'Domine', serif;
              font-size: 1.3rem;
              text-transform: none;
              padding-right: 8.5rem;
              padding-bottom: 3rem;
              @media (max-width: @mobile-breakpoint) {
                padding-right: 14.5rem;
                padding-bottom: 2.5rem;
              }
            }
          }
          .footer-sub{
            position: relative;

            .input-sub{
              line-height: 4.3rem;
              background-color: #323334;
              border: none;
              outline: none;
              box-shadow: none;
              text-transform: uppercase;
              border-radius: 6.25rem;
              font-size: 1.2rem;
              padding-left: 2.5rem;
            }
            .btn-sub{
              position: absolute;
              font-size: 1.2rem;
              top: 0;
              right: 0;
              line-height: 4.3rem;
              background-color: #16d428;
              color: #fff;
              width: 14.8rem;
              border-radius: 6.25rem;
              text-transform: uppercase;
            }
          }
        }
        table {
          border: none;
          text-transform: uppercase;

          th {
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            padding-bottom: 2.2rem;
            padding-right: 4.5rem;
            @media (max-width: @mobile-breakpoint) {
              padding-right: 3rem;
            }
          }
          td {
            padding-bottom: 1.2rem;
            @media (max-width: @mobile-breakpoint) {
            }
          }
        }
      }
      .copyright-text {
        padding-top: 1.5rem;
        font-size: 1.4rem;
        text-transform: none;
      }
    }
  }
}
