@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/montserrat-regular.eot');
  src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
  url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
  url('../fonts/montserrat/montserrat-regular.svg#Montserrat-Regular') format('svg'),
  url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Domine-Regular';
  src: url('../fonts/domine/domine-regular.eot');
  src: url('../fonts/domine/domine-regular.woff2') format('woff2'),
  url('../fonts/domine/domine-regular.woff') format('woff'),
  url('../fonts/domine/domine-regular.ttf') format('truetype'),
  url('../fonts/domine/domine-regular.svg#Domine-Regular') format('svg'),
  url('../fonts/domine/domine-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}