//color
@color-gray-text: #d2d5d8;
@color-gray-background: #f7f8fb;
@color-blue-text: #43a9ff;
@color-blue-background: #3399ff;
@color-red-text: #fe3254;

@mobile-breakpoint: 640px;
@desktop-breakpoint: 1024px;