<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Crios</title>

    <% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- font awesome icon -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- [endif]-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light header-crios">
        <div class="container header-content">
            <img class="img img-logo" src="assets/images/logo.png" alt="logo-crios"/>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbar-crios"
                    aria-controls="navbar-crios" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse navbar-crios">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active header-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item active header-item">
                        <a class="nav-link" href="">about us</a>
                    </li>
                    <li class="nav-item active header-item">
                        <a class="nav-link" href="#">news</a>
                    </li>
                    <li class="nav-item active header-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                    <li class="nav-item active header-item header-item-bottom">
                        <a class="nav-link" href="#">contact us</a>
                    </li>
                </ul>
            </div>
        </div> <!--end container-->
    </nav> <!--end navbar-->
</header> <!--end header-->

<div class="content-wrapper">
    <div class="section section-intro">
        <img class="img img-bg-intro" src="assets/images/bg-intro.jpg" alt="bg-intro"/>
        <img class="img img-bg-small-intro" src="assets/images/bg-intro-mobi.png" alt="bg-intro-mobi"/>
        <div class="text-center section-intro-content">
            <div class="section-content-wrapper">
                <div class="container section-intro-item">
                    <div class="intro-block-text">
                        <div class="section-title intro-title"><p>Simple PSD template with cool stuff</p></div>
                        <div class="section-description intro-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                        <a href="#"><input type="button" value="explore template" class="btn btn-light button-section"></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end section-intro -->

    <div class="section section-about-us">
        <div class="container section-about-us-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-description about-us-description">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.
                    </div>
                </div>
            </div> <!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title about-us-title">Lorem ipsum dolor sit amet</div>
                </div>
            </div> <!-- end row -->
            <div class="row about-us-row-item">
                <div class="col-md-3 about-us-item">
                    <img class="img about-us-icon" src="assets/images/icon-castle.png" alt="icon-castle"/>
                    <div class="section-title about-us-item-title">Lorem ipsum dolor sit amet</div>
                    <div class="section-description about-us-item-description">Suspendisse vel leo efficitur, venenatis
                        est ut, tincidunt nibh.
                    </div>
                </div>
                <div class="col-md-3 about-us-item">
                    <img class="img about-us-icon" src="assets/images/icon-snowflakes.png" alt="icon-snowflakes"/>
                    <div class="section-title about-us-item-title">Lorem ipsum dolor sit amet</div>
                    <div class="section-description about-us-item-description">Suspendisse vel leo efficitur, venenatis
                        est ut, tincidunt nibh.
                    </div>
                </div>
                <div class="col-md-3 about-us-item">
                    <img class="img about-us-icon" src="assets/images/icon-freeze.png" alt="icon-freeze"/>
                    <div class="section-title about-us-item-title">Lorem ipsum dolor sit amet</div>
                    <div class="section-description about-us-item-description">Suspendisse vel leo efficitur, venenatis
                        est ut, tincidunt nibh.
                    </div>
                </div>
                <div class="col-md-3 about-us-item">
                    <img class="img about-us-icon" src="assets/images/icon-bell.png" alt="icon-bell"/>
                    <div class="section-title about-us-item-title">Lorem ipsum dolor sit amet</div>
                    <div class="section-description about-us-item-description">Suspendisse vel leo efficitur, venenatis
                        est ut, tincidunt nibh.
                    </div>
                </div>
            </div> <!-- end row -->
            <div class="row about-us-button">
                <div class="col-md-12 text-center">
                    <a href="#"><input type="button" value="check our offer" class="btn btn-light button-section btn-about-us"></a>
                </div>  <!--end button-about-us-->
            </div> <!-- end row -->
        </div> <!-- end container-fluid -->
    </div> <!-- end section-about-us -->

    <div class="section section-news">
        <div class="container-fluid section-news-content">
            <div class="section-news-item">
                <div class="news-item-img">
                    <img class="img img-forest" src="assets/images/image-forest.jpg" alt="img-forest"/>
                </div>
                <div class="news-item-content">
                    <div class="news-item-wrapper">
                        <div class="news-item-detail">
                            <div class="section-title news-title">
                                <p>Lorem ipsum dolor</p>
                            </div>
                            <div class="section-description news-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                                <p>Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end news-item -->
            <div class="section-news-item">
                <div class="news-item-img">
                    <img class="img img-wood" src="assets/images/image-wood.jpg" alt="img-wood"/>
                </div>
                <div class="news-item-content news-item-content-bottom">
                    <div class="news-item-wrapper">
                        <div class="news-item-detail">
                            <div class="section-title news-title">
                                <p>Lorem ipsum dolor</p>
                            </div>
                            <div class="section-description news-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                                <p>Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end news-item -->
        </div> <!-- end conatiner-fluid -->
    </div> <!-- end section-news -->

    <div class="section section-blog">
        <div class="container section-blog-content">
            <div class="section-blog-item">
                <div class="blog-item-img">
                    <img class="img-blog" src="assets/images/app-screen.png" alt="img-app"/>
                </div>
                <div class="blog-item-content">
                    <div class="blog-item-wrapper">
                        <div class="blog-item-detail">
                            <div class="section-title blog-title">
                                <p>Lorem ipsum dolor</p>
                            </div>
                            <div class="section-description blog-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                                <p>Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end section-blog-item -->
            <div class="section-blog-item section-blog-item-bottom">
                <div class="blog-item-img">
                    <img class="img-blog" src="assets/images/app-screen2.png" alt="img-app2"/>
                </div>
                <div class="blog-item-content">
                    <div class="blog-item-wrapper">
                        <div class="blog-item-detail blog-item-detail-bottom">
                            <div class="section-title blog-title">
                                <p>Lorem ipsum dolor</p>
                            </div>
                            <div class="section-description blog-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                                <p>Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end section-blog-item -->
        </div><!-- end conatiner -->
    </div> <!-- end section-blog -->

    <div class="section section-testimonials">
        <div class="container section-test-content">
            <div class="test-item-img">
                <img class="img img-test" src="assets/images/johndoe.jpg" alt="img-avatar"/>
            </div>
            <div class="test-item-content">
                <div class="section-title test-title">
                    <p>Template is awesome</p>
                </div>
                <div class="section-description test-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    <p>Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                </div>
                <div class="section-description test-signature">
                    <p class="name-test-signature">John Doe</p>
                    <p>CEO at Crios.com</p>
                </div>
            </div>
        </div> <!-- end conatiner -->
    </div> <!-- end section-testimonials -->

    <div class="section section-testimonials-client">
        <div class="container section-client-content">
            <div class="section-client-item-title">
                <div class="section-small-description client-pre-description">happy clients</div>
                <div class="section-small-title client-pre-title">testimonials</div>
            </div>
            <div class="section-client-slider">
                <div class="section-client-slider-content">
                    <div class="section-client-slider-item">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators carousel-crios">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=" active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="section-client-slider-item-title">
                                        <img class="img img-item" src="assets/images/client.jpg" alt="client"/>
                                        <div class="info-client">
                                            <div class="name-client">Client Name</div>
                                            <div class="about-client">Designation</div>
                                        </div>
                                    </div>
                                    <div class="section-client-slider-item-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="section-client-slider-item-title">
                                        <img class="img img-item" src="assets/images/client.jpg" alt="client"/>
                                        <div class="info-client">
                                            <div class="name-client">Client Name</div>
                                            <div class="about-client">Designation</div>
                                        </div>
                                    </div>
                                    <div class="section-client-slider-item-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="section-client-slider-item-title">
                                        <img class="img img-item" src="assets/images/client.jpg" alt="client"/>
                                        <div class="info-client">
                                            <div class="name-client">Client Name</div>
                                            <div class="about-client">Designation</div>
                                        </div>
                                    </div>
                                    <div class="section-client-slider-item-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end conatiner -->
    </div> <!-- end section-testimonials-client -->

    <div class="section section-contact">
        <div class="container section-contact-content">
            <div class="section-contact-item-title">
                <div class="section-small-description contact-item-description">let's</div>
                <div class="section-small-title contact-item-title">connect</div>
            </div>
            <form class="section-contact-item-form">
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="name"/>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="email"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="phone"/>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="service">
                            <option>SERVICE</option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-comment" placeholder="comment"></textarea>
                    </div>
                </div>
            </form>
            <div class="section-contact-form-button">
                <button class="btn btn-contact-form">submit now</button>
            </div>
            <div class="section-contact-info">
                <div class="section-small-title contact-title">contact with us</div>
                <div class="section-description contact-description">Rapid solutions to the most complex business challenges with cooperative process-driven.</div>
                <div class="row contact-info-map">
                    <div class="col-md-4 contact-info-map-item">
                        <img class="img img-contact-map" src="assets/images/map.jpg" alt="img-map">
                        <div class="map-item-icon">
                            <i class="fas fa-map-marker-alt fa-5x"></i>
                        </div>
                        <div class="text-contact-map-info">
                            <p class="section-description map-info-title">head quarter</p>
                            <div class="map-content"><i class="fas fa-map-marker-alt item-icon"></i><p class="section-small-description map-info-description">14 Mao Road, N1 4EP, Los Angelos, USA</p></div>
                            <div class="map-content"><i class="fas fa-mobile-alt item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                            <div class="map-content"><i class="fas fa-envelope item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                        </div>
                    </div>
                    <div class="col-md-4 contact-info-map-item">
                        <img class="img img-contact-map" src="assets/images/map.jpg" alt="img-map">
                        <div class="map-item-icon">
                            <i class="fas fa-map-marker-alt fa-5x"></i>
                        </div>
                        <div class="text-contact-map-info">
                            <p class="section-description map-info-title">california office</p>
                            <div class="map-content"><i class="fas fa-map-marker-alt item-icon"></i><p class="section-small-description map-info-description">14 Mao Road, N1 4EP, Los Angelos, USA</p></div>
                            <div class="map-content"><i class="fas fa-mobile-alt item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                            <div class="map-content"><i class="fas fa-envelope item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                        </div>
                    </div>
                    <div class="col-md-4 contact-info-map-item">
                        <img class="img img-contact-map" src="assets/images/map.jpg" alt="img-map">
                        <div class="map-item-icon">
                            <i class="fas fa-map-marker-alt fa-5x"></i>
                        </div>
                        <div class="text-contact-map-info">
                            <p class="section-description map-info-title">london office</p>
                            <div class="map-content"><i class="fas fa-map-marker-alt item-icon"></i><p class="section-small-description map-info-description">14 Mao Road, N1 4EP, Los Angelos, USA</p></div>
                            <div class="map-content"><i class="fas fa-mobile-alt item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                            <div class="map-content"><i class="fas fa-envelope item-icon"></i><p class="section-small-description map-info-description">+445 6231 411</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-crios">
    <div class="container">
        <div class="row footer-item">
            <div class="col-md-6 footer-item-left">
                <div class="link-area">
                    <h3 class="footer-title">news letter</h3>
                    <p class="footer-description">Enter your email address to subcribe our notification of our new post & features by email.</p>
                </div>
                <div class="footer-sub">
                    <input class="form-control input-sub" placeholder="email address"/>
                    <button class="btn btn-sub">subcribe</button>
                </div>
            </div>
            <table class="col-md-6">
                <tr>
                    <th>navigation</th>
                    <th>industary</th>
                    <th>follow us</th>
                </tr>
                <tr>
                    <td>home</td>
                    <td>education</td>
                    <td>facebook</td>
                </tr>
                <tr>
                    <td>about us</td>
                    <td>business</td>
                    <td>twitter</td>
                </tr>
                <tr>
                    <td>industry</td>
                    <td>realestate</td>
                    <td>instagram</td>
                </tr>
                <tr>
                    <td>service</td>
                    <td>technology</td>
                    <td>linkedin</td>
                </tr>
                <tr>
                    <td>pages</td>
                    <td>banking</td>
                    <td>google +</td>
                </tr>
                <tr>
                    <td>contact us</td>
                    <td>telicommunication</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>much more</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <hr width="100%" style="height: 2px" align="center" color=#323334 />
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>Copyright © 2018 BSS</p>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</footer> <!-- end footer -->
<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>



